// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.vdp-datepicker.w60, 
.dates.input-group {
    width: 60%;
}

input[disabled], input[readonly] {
    background-color: #ffffff!important;
}

.custom-control-label {
    position: unset;
}